# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Cache & Builds
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
build/
dist/
*.egg-info/

# Environment Local Variables
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db

# Developer Logs
*.log
.system_generated/
